
      
   
   <div class="row align-items-center justify-content-center" style="height: 92vh;">
        <div class="col-12 col-md-6 col-lg-6 text-center p-5 w-50">
            <p class="common-font">TURNO</p>
            <p class="cursive-font">ADMINISTRACIÓN DE TURNO</p>
            <p class="common-font">Para obtener un turno con un especialista de nuestra red, completá el formulario. Las sesiones se realizan de forma online por la plataforma Skype. Enviaremos el link de ingreso 24hs antes de la consulta.</p>
            <p class="text-center">¿Tenes dudas? <a href="">Contactanos</a></p>
        </div>

        <div class="col-12 col-md-6 col-lg-6">
            <form>
                <div class="form-group  d-flex flex-column align-items-center justify-content-center">
                    <label for="date">Fecha y Hora</label>
                    <input type="date" class="form-control w-50 m-2">
        
                    <label for="message">Mensaje</label>
                    <input type="textbox" class="form-control w-50 m-2">
                    
                    <button class="btn btn-outline-dark cursive-font m-2">Obtener turno</button>
                </div>
            </form>
        </div>
   </div>
   
