<div style="height: 80vh;">
    <div class="p-5 d-flex align-items-center justify-content-center flex-column">
        <p class="common-font">TURNO</p>
        <p class="cursive-font">ADMINISTRACIÓN DE TURNO</p>
    </div>
    <div>
        <form>
            <div class="form-group  d-flex flex-column align-items-center justify-content-center">
                <label for="date">Date</label>
                <input type="date" class="form-control w-25 m-2">

                <label for="message">Message</label>
                <input type="textbox" class="form-control w-25 m-2">
                
                <button class="btn btn-outline-dark cursive-font m-2">Obtener turno</button>
            </div>do
        </form>
    </div>
</div>