<div style="height: 100vh;" class="bg-primary-cust d-flex justify-content-center align-items-center flex-column">
    <div>
        <hr />
            <h1 class="cursive-font">Red de psicologos</h1>
            <p class="text-center common-font">Registrarse</p>
        <hr />
    </div>
    <div class="p-5 w-50">
        <form action="" class="form-group d-flex flex-column align-items-center justify-content-center" [formGroup]="registerForm" (ngSubmit)="onSave()">
            
            <input type="text"
                   formControlName="fullName"
                   class="form-control mt-3"
                   placeholder="Full name">
            <span *ngIf="isValidField('fullName')"
                    class="form-text text-danger">
                {{ getFieldError('fullName') }}
            </span>

            <input type="username"
                   formControlName="username"
                   class="form-control mt-3"
                   placeholder="Username">
            <span *ngIf="isValidField('username')"
                    class="form-text text-danger">
                {{ getFieldError('username') }}
            </span>

            <input type="email"
            formControlName="email"
            class="form-control mt-3"
            placeholder="Email">
            <span *ngIf="isValidField('email')"
                    class="form-text text-danger">
                {{ getFieldError('email') }}
            </span>

            <input type=""
            formControlName="phone"
            class="form-control mt-3"
            placeholder="Phone Number">
            <span *ngIf="isValidField('phone')"
                class="form-text text-danger">
            {{ getFieldError('phone') }}
            </span>

            <input type=""
            formControlName="password"
            class="form-control mt-3"
            placeholder="Password">
            <span *ngIf="isValidField('password')"
                class="form-text text-danger">
            {{ getFieldError('password') }}
            </span>

            <input type=""
            formControlName="repeatPassword"
            class="form-control mt-3"
            placeholder="Repeat Password">
            <span *ngIf="isValidField('repeatPassword')"
                class="form-text text-danger">
            {{ getFieldError('repeatPassword') }}
            </span>

            <span *ngIf="pristine" class="text-danger p-2">
                    Por favor complete el formulario.
            </span>
            <button class="btn btn-outline-dark cursive-font mt-3">Registrarse</button>
            <p class="pt-3">¿Ya tenes una cuenta? <a routerLink="/auth/login">Iniciar Sesion</a></p>
        </form>
    </div>
</div>