<div class="" style="width:100%">
    <div class="row h-100 w-100">
        <hr>
        <div class="col-4 col-xs-12 p-5">
            <p class="cursive-font text-center">PÁGINAS</p>
            <ul class="text-center list-group list-unstyled">
                <li class="common-font">Fundación</li>
                <li class="common-font">Atención Clínica</li>
                <li class="common-font">Servicios</li>
                <li class="common-font">Obtener Turno</li>
                <li class="common-font">Contacto</li>
            </ul>
        </div>
        <div class="col-4 col-xs-12 p-5">
            <p class="cursive-font text-center">CONSULTANOS</p>
            <ul class="text-center list-group list-unstyled">
                <li class="common-font">consultasgmail.com</li>
                <li class="common-font">12223322</li>
                <li class="common-font">Facebook</li>
                <li class="common-font">Instagram</li>
            </ul>
        </div>
        <div class="col-4 col-xs-12 p-5">
            <p class="cursive-font text-center">CONSULTANOS</p>
            <ul class="text-center list-group list-unstyled">
                <li class="common-font">consutlasgmail.com</li>
                <li class="common-font">12223322</li>
                <li class="common-font">Facebook</li>
                <li class="common-font">Instagram</li>
            </ul>
        </div>
    </div>
    
</div>