<div class="d-flex bg-primary align-items-center justify-content-center" style="height: 100vh;">
    <div class="row">
        <div class="col-12 col-lg-6 col-md-6">
            <p>Turnos</p>
            <p>Para obtener un turno con un psicólogo de nuestra red, completá y enviá el siguiente formulario.</p>
        </div>
        
        <div class="col-12 col-lg-6 col-md-6">
            <form action="">
                <input type="text">
                <input type="text">
                
                
                
            </form>
        </div>
    </div>
</div>