<div class="card">
    <div>
        <p class="cursive-font fs-5 pt-3 text-center">SOLICITAR NUEVO TURNO</p>
        <hr class="mx-2">
    </div>
    
    <div class="d-flex flex-column align-items-center justify-content-center p-3">
        <form action="" class="form-group w-50">
            <input type="text"
                   class="form-control my-3"
                   placeholder="Agregar mensaje...">

            <input type="datetime-local"
                   class="form-control mx-1"
                   placeholder="Agregar mensaje...">
        </form>

        <button class="btn btn-dark cursive-font m-3 align-self-center justify-self-center">SOLICITAR</button>
    </div>

    <p class="text-center w-50 m-auto p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, eveniet sit, ratione in asperiores aut laborum atque quae animi doloremque placeat autem vero dolor ipsam eaque dicta provident vitae veritatis?</p>
</div>