    <section id="home">
        <div class="d-flex flex-column align-items-center justify-content-center fs-5" style="height:60vh">
                    <p class="display-4 cursive-font">RED DE PSICOLOGÍA</p>
                    <p class="text-center w-50">Nos dedicamos a brindar apoyo emocional y bienestar psicológico a través de una red de profesionales altamente calificados. Nuestra misión es proporcionar un espacio seguro y acogedor donde las personas puedan encontrar el apoyo necesario para enfrentar los desafíos de la vida.</p>
                    <button class="btn btn-outline-dark cursive-font fs-5" [routerLink]="['/home']" fragment="appointment">OBTENER TURNO</button>
        </div>
    </section>

    <div class="d-flex align-items-center justify-content-center">
        <hr class="w-75">
    </div>

    <div class="mt-5" id="services">
        
        <div class="row pt-0 p-5">

            <div class="d-flex align-items-center flex-column">
                <p class="common-font text-center">SERVICIOS</p>
                <p class="cursive-font text-center fs-4">SERVICIOS QUE OFRECEMOS</p>
                <p class="w-50 common-font text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti velit nemo voluptatibus accusantium enim accusamus debitis, doloremque ea, dolore aliquid sed vel voluptatem temporibus quo at odit. Et, architecto veniam.</p>
            </div>
            <div class="col-12 col-lg-4 p-5">
                <hr>
                    <p class="cursive-font text-center fs-4">CONEXIÓN PERSONALIZADA</p>
                <hr>
                <p>Te conectamos con psicólogos especializados que se adaptan a tus necesidades individuales, garantizando una experiencia personalizada y efectiva.</p>
            </div>
            <div class="col-12 col-lg-4 p-5">
                <hr>
                    <p class="cursive-font text-center fs-4">TERAPIA EN LINEA</p>
                <hr>
                <p>Ofrecemos sesiones de terapia en línea para que puedas acceder al apoyo profesional desde la comodidad de tu hogar. Nuestros psicólogos están comprometidos a brindar terapia efectiva y confidencial a través de plataformas seguras.</p>
            </div>
            <div class="col-12 col-lg-4 p-5">
                <hr>
                    <p class="cursive-font text-center fs-4">VARIEDAD DE ESPECIALIDADES</p>
                <hr>
                <p>Contamos con una amplia gama de especialidades, desde ansiedad y depresión hasta terapia de pareja y consejería familiar. Nuestros psicólogos están capacitados para abordar diversas áreas y problemáticas.</p>
            </div>
            <div class="col-12 col-lg-4 p-5">
                <hr>
                    <p class="cursive-font text-center fs-4">CONTACTO</p>
                <hr>
                <p>No estás solo en este viaje. Estamos aquí para ayudarte. Si tienes alguna pregunta o deseas programar una sesión, no dudes en ponerte en contacto con nosotros. Tu bienestar es nuestra prioridad.</p>
            </div>
            <div class="col-12 col-lg-4 p-5">
                <hr>
                    <p class="cursive-font text-center fs-4">ASESORAMIENTO PSICOEDUCATIVO</p>
                <hr>
                <p>Ofrecemos asesoramiento psicoeducativo para proporcionar información y habilidades que empoderen a las personas en la gestión de sus desafíos emocionales. Esto incluye talleres, seminarios web y recursos educativos interactivos.            </p>
            </div>
            <div class="col-12 col-lg-4 p-5">
                <hr>
                    <p class="cursive-font text-center fs-4">TERAPIA NIÑOS Y ADOLESCENTES</p>
                <hr>
                <p>Contamos con psicólogos especializados en el trabajo con niños y adolescentes. Ofrecemos un enfoque adaptado para abordar los desafíos únicos que enfrentan en sus diferentes etapas de desarrollo.</p>
            </div>
            
        </div>
        
        <section id="professionals">
            <div class="d-flex flex-column align-items-center justify-content-center bg-light p-5">
                <p class="common-font text-center">PROFESIONALES</p>
                <p class="cursive-font fs-4 text-center">DISTINTOS ESPECIALISTAS A TU ALCANCE</p>
                <p class="common-font text-center w-50">Es fundamental un lazo de confianza con el/la terapeuta que consultás. Poseemos distintos profesionales para que elijas con quien te sientas más a gusto.</p>
            
                <div class="m-5 on-hover shadow-sm rounded">
                    <div class="row d-flex align-items-between justify-content-between">

                        <div class="col-12 col-md-3 col-lg-3 rounded p-2 m-2" style="width: 10rem;">

                            <div class="row">
                                <div class="col-12">
                                    <img class="rounded-circle img-fluid" src="https://img.freepik.com/foto-gratis/doctora-vistiendo-bata-laboratorio-estetoscopio-aislado_1303-29791.jpg?w=996&t=st=1702657631~exp=1702658231~hmac=3c5895490e3cd17b2f43f4216bba126683975434469e274aedfafc6c618843b5" alt="">
                                </div>
                                <div class="col-12 text-center">
                                    <p class="text-center cursive-font pt-3">Lic. Florencia Bonachera</p>
                                    <span class="doctor-tag text-center">Zona Centro</span>
                                </div>
                            </div>

                        </div>

                        <div class="col-12 col-md-3 col-lg-3 rounded  p-2 m-2" style="width: 10rem;">

                            <div class="row">
                                <div class="col-12">
                                    <img class="rounded-circle img-fluid" src="https://img.freepik.com/foto-gratis/doctora-vistiendo-bata-laboratorio-estetoscopio-aislado_1303-29791.jpg?w=996&t=st=1702657631~exp=1702658231~hmac=3c5895490e3cd17b2f43f4216bba126683975434469e274aedfafc6c618843b5" alt="">
                                </div>
                                <div class="col-12 text-center">
                                    <p class="text-center cursive-font pt-3">Lic. Florencia Bonachera</p>
                                    <span class="doctor-tag text-center">Zona Centro</span>
                                </div>
                            </div>

                        </div>

                        <div class="col-12 col-md-3 col-lg-3 rounded p-2 m-2" style="width: 10rem;">

                            <div class="row">
                                <div class="col-12">
                                    <img class="rounded-circle img-fluid" src="https://img.freepik.com/foto-gratis/doctora-vistiendo-bata-laboratorio-estetoscopio-aislado_1303-29791.jpg?w=996&t=st=1702657631~exp=1702658231~hmac=3c5895490e3cd17b2f43f4216bba126683975434469e274aedfafc6c618843b5" alt="">
                                </div>
                                <div class="col-12 text-center">
                                    <p class="text-center cursive-font pt-3">Lic. Florencia Bonachera</p>
                                    <span class="doctor-tag text-center">Zona Centro</span>
                                </div>
                            </div>

                        </div>

                        <div class="col-12 col-md-3 col-lg-3 rounded p-2 m-2" style="width: 10rem;">

                            <div class="row">
                                <div class="col-12">
                                    <img class="rounded-circle img-fluid" src="https://img.freepik.com/foto-gratis/doctora-vistiendo-bata-laboratorio-estetoscopio-aislado_1303-29791.jpg?w=996&t=st=1702657631~exp=1702658231~hmac=3c5895490e3cd17b2f43f4216bba126683975434469e274aedfafc6c618843b5" alt="">
                                </div>
                                <div class="col-12 text-center">
                                    <p class="text-center cursive-font pt-3">Lic. Florencia Bonachera</p>
                                    <span class="doctor-tag text-center">Zona Centro</span>
                                </div>
                            </div>

                        </div>

                    
                    </div>
                    
                </div>
            </div>
    </section>

    <section id="foundation">
        <div class="d-flex align-items-center justify-content-center flex-column p-5" style="height: 50vh;">
            <p class="common-font text-center">FUNDACIÓN</p>
            <p class="fs-4 cursive-font text-center">CÓMO EMPEZÓ PSICOWEB</p>
            <p class="w-50 text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos molestiae repudiandae quas, exercitationem quidem ratione labore, doloribus dolores eaque magni tempora id, adipisci animi? Assumenda alias voluptatem nemo dolor error.</p>
        </div>
    </section>

    <section id="appointment">
        <div class="d-flex align-items-center justify-content-center flex-column p-5 bg-light" style="height: 50vh;">
            <p class="common-font">TURNOS</p>
            <p class="cursive-font fs-4">OBTENÉ UN TURNO</p>
            <p class="w-50 font-center text-center">Para obtener un turno con un licenciado de nuestra red, necesitas tener una cuenta.</p>
            <button class="btn btn-outline-dark cursive-font" [routerLink]="['/auth/register']">REGISTRARSE</button>
        </div>
    </section>

    <section id="contact">
        <div class="d-flex align-items-center justify-content-center flex-column p-5" style="height: 50vh;">
            <p class="common-font">CONTACTO</p>
            <p class="cursive-font fs-4">PONETE EN CONTACTO CON NOSOTROS</p>
            <p class="common-font w-50 text-center">¿Tenés alguna duda? Podes comunicarte desde las 8hs hasta las 16hs a nuestro número telefónico 11-2222-333 o enviarnos un mail a mockmail@gmail.com </p>
        </div>
    </section>
</div>
