/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
}
.common-font{
    font-family: 'Inter';
}

.cursive-font{
    font-family: 'Playfair Display';
}

.opacity-light{
    opacity: .5;
}

.bg-primary-cust{
    background-color: rgb(243, 242, 255);
}

.bg-lighter{
    background-color: rgb(226, 211, 254); 
}

a{
    color: rgb(72, 55, 88);
}

.valid-field{
    border: 2px solid rgba(223, 255, 223, 0.503);
}

.bg-transparent{
    background-color: none;
}
