<!-- <div style="height:80vh" class="d-flex align-items-center justify-content-center flex-column bg-cust-primary">
    <div>
        <p class="common-font text-center">TURNOS</p>
        <p class="cursive-font text-center">OBTENÉ UN TURNO CON UN PSICÓLOGO DE LA RED</p>
        <p class="common-font text-center">Agregar turno nuevo</p>
    </div>
    <div class="m-5 p-5 shadow-lg rounded d-flex align-items-center justify-content-center flex-column" style="height: 40%;">
        <p>No tenés turnos</p>
        <button class="btn btn-outline-dark common-font">OBTENER TURNO</button>
    </div>
</div> -->

<div style="height:80vh" class="d-flex align-items-center justify-content-center flex-column bg-cust-primary">
    <div>
        <p class="common-font text-center">TURNOS</p>
        <p class="cursive-font text-center">ADMINISTRÁ TUS TURNOS</p>
        <p class="common-font text-center">Modifica o cancela tu turno.</p>
    </div>
    <div class="m-5 p-5 shadow-lg rounded d-flex align-items-center justify-content-center flex-column" style="height: 40%;">
        <p class="common-font text-center">Tenes un turno el día: Jueves 25 de enero a las 17:00hs MODALIDAD VIRTUAL</p>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-3 col-md-3 text-center p-4 common-font m-1 outline-dark">
                <button class="btn btn-outline-dark common-font">MODIFICAR TURNO</button>
            </div>
            <div class="col-12 col-lg-3 col-md-3 text-center p-4 common-font m-1 outline-dark">
                <button class="btn btn-outline-dark common-font">CANCELAR TURNO</button>
            </div>
            <div class="col-12 col-lg-3 col-md-3 text-center p-4 common-font m-1 border-dark">
                <button class="btn btn-outline-dark common-font">DESCARGAR COMPROBANTE</button>
            </div>
        </div>
    </div>
</div>