
<div class="row align-items-center justify-content-center" style="height:80vh">
    <div class="col-12 col-md-6 col-lg-6 text-center p-5 w-50">
        <p class="common-font">TURNOS</p>
        <p class="cursive-font fs-4">ADMINISTRADOR DE TURNOS</p>
        <p class="common-font m-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, dolorem minus, impedit repudiandae magnam unde ab, voluptate blanditiis ducimus dignissimos eveniet quam dolorum? Molestias earum voluptate, ea laborum magnam ut.</p>
        
    </div>

    <div class="col-12 col-md-6 col-lg-6 p-5">
            <p class="text-center common-font">Tenes un turno el día <span class="fw-bolder">25-12-2023</span></p>
            <p class="text-center common-font">MODALIDAD VIRTUAL | Estado de su turno: PENDIENTE DE CONFIRMACIÓN. </p>
    
           
            
            <div class="d-flex flex-wrap align-items-center justify-content-center mt-5">
                <button class="btn btn-dark text-white cursive-font m-1" (click)="open(modifyappointment)">MODIFICAR TURNO</button>
                <button class="btn btn-dark text-white cursive-font m-1" (click)="open(cancelappointment)">CANCELAR TURNO</button>
                <button class="btn btn-dark text-white cursive-font m-1">DESCARGAR COMPROBANTE</button>
            </div>
            
            <p class="text-center common-font mt-5">3hs antes de la consulta enviaremos un mail a obonacheragmail.com con en enlace de ingreso mediante la plataforma Zoom.</p>
    </div>
</div>


<ng-template #modifyappointment let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Modificación de turno</h4>
        
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<label for="dateOfBirth">Modificar fecha</label>
				<div class="input-group">
					<input
						id="dateOfBirth"
						class="form-control"
						placeholder="yyyy-mm-dd"
						name="dp"
                        type="datetime-local" />
				</div>

			</div>
		</form>
        <div>
            <small>Una vez modificada la fecha, debe aguardar la confirmación por parte de la red.</small>
        </div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Enviar</button>
	</div>
</ng-template>


<ng-template #cancelappointment let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Cancelación de turno</h4>
        
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        <div>
            <p>¿Desea cancelar su turno?</p>
            <small>Para cancelar su turno se requiere un mensaje explicatorio.</small>
            <form>
                <input type="text"
                       class="form-control mt-2">
            </form>
        </div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancelar Turno</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Salir</button>
	</div>
</ng-template>