
<div class="row align-items-center justify-content-center" style="height:80vh">
    <div class="col-12 col-md-6 col-lg-6 text-center p-5 w-50">
        <p class="common-font">TURNOS</p>
        <p class="cursive-font fs-4">ADMINISTRADOR DE TURNOS</p>
        <p class="common-font m-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, dolorem minus, impedit repudiandae magnam unde ab, voluptate blanditiis ducimus dignissimos eveniet quam dolorum? Molestias earum voluptate, ea laborum magnam ut.</p>
    </div>

    <div class="col-12 col-md-6 col-lg-6 p-5">
            <p class="text-center common-font">Tenes un turno el día <span class="fw-bolder">25-12-2023</span></p>
            <p class="text-center common-font">MODALIDAD VIRTUAL</p>
            <p class="text-center common-font">3hs antes de la consulta enviaremos un mail a obonacheragmail.com con en enlace de ingreso mediante la plataforma Zoom.</p>
            <div class="d-flex flex-wrap align-items-center justify-content-center">
                <button class="btn btn-dark text-white cursive-font m-1">MODIFICAR TURNO</button>
                <button class="btn btn-dark text-white cursive-font m-1">CANCELAR TURNO</button>
                <button class="btn btn-dark text-white cursive-font m-1">DESCARGAR COMPROBANTE</button>
            </div>
            
    </div>
</div>
<modal-component></modal-component>