<div class="card shadow-sm text-center common-font">
    <div class="card-body text-dark p-5">
      <h5 class="card-title cursive-font fs-4">TENES UN TURNO AGENDADO</h5>
      <hr>
      <p class="card-text">FECHA: 23/05/2023 | HORA: 12:55</p>
      <p>Modalidad virtual. Se te enviará un correo con el enlace de acceso a la videollamada.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum, quibusdam commodi excepturi quaerat nam autem officia non et quisquam vel maxime, sunt mollitia amet, corrupti facere culpa praesentium quidem pariatur!</p>
    </div>
        <div>
                <button class="btn btn-dark mx-3 mb-3 cursive-font">MODIFICAR TURNO</button>
                <button class="btn btn-dark mx-3 mb-3 cursive-font">CANCELAR TURNO</button>
                <button class="btn btn-dark mx-3 mb-3 cursive-font">DESCARGAR COMPROBANTE</button>
        </div>
</div>
