<!--<div class="opacity-light" style="width: 100%; height:100vh">
    <img src="../../../../assets/background.jpg" alt="" style="height: 100%; width:100%">
</div>-->
<div style="height: 100vh;" class="bg-primary-cust d-flex justify-content-center align-items-center flex-column">
    <div>
        <hr />
        <h1 class="cursive-font">PSICOWEB</h1>
        <p class="text-center common-font">Ingresar</p>
        <hr />
    </div>
    <p class="pt-3 common-font fs-6">¿No tenes una cuenta? <a routerLink="/auth/register">Obtener cuenta</a></p>
    <div class="p-50 w-25">
        <form action="" class="form-group d-flex flex-column align-items-center justify-content-center" [formGroup]="loginForm" (ngSubmit)="onSave()">
            
            <input type="text"
                   formControlName="username"
                   class="form-control my-3"
                   placeholder="Username">
            <span *ngIf="isValidField('username')"
                    class="form-text text-danger">
                {{ getFieldError('username') }}
            </span>

            <input type="password"
                   formControlName="password"
                   class="form-control my-3"
                   placeholder="Password">
            <span *ngIf="isValidField('password')"
                    class="form-text text-danger">
                {{ getFieldError('password') }}
            </span>

            <button class="btn btn-outline-dark cursive-font m-3">Iniciar Sesion</button>
            
        </form>
    </div>
</div>